<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add employee</title>
</head>
<body>

    <form th:object="${employee}" th:action="@{'/employee'}" method="post">

        <div th:if="${not #lists.isEmpty(errMsg)}">

             <table>
                <tr th:each="msg : ${errMsg}">
                    <td th:text="${msg}" style="color: red"></td>
                </tr>
            </table>

        </div>

        <table>
            <tr>
                <td>
                    <label>Employee Id</label>
                </td>
                <td>
                    <input type="text" th:field="*{employeeId}">
                </td>
                <td th:if="${#fields.hasErrors('employeeId')}" th:errors="*{employeeId}">
                        Enter valid employee Id
                </td>

            </tr>
            <tr>
                <td>
                    <label>First Name</label>
                </td>
                <td>
                    <input type="text" th:field="*{firstName}">
                </td>
                <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                    Enter valid employee Name
                </td>
            </tr>
            <tr>
                <td>
                    <label>Last Name</label>
                </td>
                <td>
                    <input type="text" th:field="*{lastName}">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Allocated Office</label>
                </td>
                <td>
                    <select th:field="*{office.officeId}">
                        <!--<option value="0">Unallocated</option> -->
                        <option th:each="office: ${allOffices}" th:value="${office.officeId}"
                        th:text="${office.officeId}+'-'+${office.location}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="submit">
                </td>
            </tr>

        </table>
    </form>

</body>
</html>